

    div, span {
        background-color:transparent;
    }

    .node {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: source_sans_proregular, 'Segoe UI', Verdana, Helvetica, sans-serif;
        color: black;
        text-decoration:none;
        /*background-color:transparent;*/
        display: block;
    }

    .nodeListItem > a > label:hover {
        background-color:rgb(56,147,155) !important;
        color: white;
    }

    .nodeListItem .selected > label {
        background-color:rgb(56,147,155);
        color: white;
    }

    .tf_dropBox_active {
        background-color: rgb(56,147,155) !important;
        color: white;
    }

    .tf_dropBox_active .treeNodeLabel {
        background-color: rgb(56,147,155) !important;
        color: white;
    }

    .tf_dropBox_hover > div > a > label {
        background-color: rgb(93,50,161) !important;
        color: white;
    }


    .sm_dropBox_hover {
        background-color:rgb(56,147,155) !important;
        color: white;
    }


    .nodepart {
         
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #555;
        text-decoration:none;
        display:inline-block;
        vertical-align:middle;
    }

            /* Component containers
        ----------------------------------*/
        .tree-widget {
             /*font-family: Verdana,Arial,sans-serif; 
             font-size: 1.1em*/
            z-index: 9999;
        }

        .tree-widget .tree-widget { font-size: 1em; }
        .tree-widget input, .tree-widget select, .tree-widget textarea, .tree-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
        .tree-widget-content {
            border: 1px solid rgb(56, 147, 155);
            background: white;
            color: black;
            font-size: 9pt;
            
        }
        .tree-widget-content li{
            width: 205px;
             font-size: 9pt;
            text-decoration: none; 
            text-overflow: ellipsis; 
            overflow: hidden; 
            white-space: nowrap;
        }
        .tree-widget-content label{
            font-size: 9pt;
           text-decoration: none; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
             width: 100px;
        }

        .tree-widget-content h4{
            padding-left: 10px;
            font-size: 11pt;
        }
        .tree-widget-content a { color: #222222/*{fcContent}*/; }
        .tree-widget-header {
            background-color: rgb(56, 147, 155);
            color: white;
            font-weight: bold;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        

        .tree-widget-header a { color: #222222/*{fcHeader}*/; }


    .isSearchResult {
        background-color:yellow !important;
    }

  
    .warning {
        background-color:red;
    }

   
    .itemHeader {
        background-color:blue;
    }

    .tree ul {
        /*background-color:transparent;*/
        list-style: none;
        border: none;
        /*overflow: hidden;*/
        display: block;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        list-style-type: none;
        vertical-align:middle;

    }

    .tree li {

        display: block;
        line-height: 17px;
        position: relative;
        padding: 0 0 0 0px;
        
        /*background-color: transparent !important;*/
        list-style-type: none;
        margin-bottom: 0px;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 0px;
        min-height: 17px;
        min-width: 18px;

        text-align: left;
        visibility: visible;
        white-space: nowrap;

    }

    .tree li div {
        /*min-height: 18px;*/
        /*background-color: transparent;*/
    }
    .tree li div .endNode {
        /*height: 18px !important;*/
        
    }

    .tree li div > a {
        vertical-align:top; 
        text-decoration: none !important;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        cursor: pointer;
        display: inline-block;
        font-family: source_sans_proregular, 'Segoe UI', Verdana, Helvetica, sans-serif;
        font-size: 11pt;
        height: 17px;
        width:100%;
        line-height: 14pt;
        list-style-type: none;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        
        }

    .tree li div > a input {
        background:lightgrey; 
        border:none; 
        width:100%;
        height: 17px;
        font-weight:normal;
        display:inline-block;
        vertical-align:top;    
        margin: 0 0 0 0px;
        padding:0px 0px 0px 5px;  
        line-height:17px !important;
        }

    .tree ins {
        display: inline-block;
        text-decoration: none;
        width: 16px;
        height: 17px;
        margin: 0 3px 0 0px;
        color: black;
        vertical-align:top;
        
    }

    .tree a ins {
        height: 16px;
        width: 16px;
        padding: 0px;
        margin: 0px;
        margin: 0 0 0 3px;
        vertical-align:top;
        
    }

    .tree a label {
        height: 17px;
        font-weight:normal;
        display:inline-block;
        vertical-align:top;    
        margin: 0 0 0 0px;
        padding:0px 0px 0px 5px;  
        line-height:17px !important;
    }
    
    .tree li i, tree li span div label {
        cursor: pointer;
    }

    .folderdots > div > a {
        background-repeat:repeat-y;
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-position: -90px 0px;
        position:relative;
        top:0px;
        right:-0px;
    }

    .folderdots  {
        background-repeat:repeat-y;
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-position: -90px -32px;
        
    }

    .leaf {
        background-repeat:repeat-y;
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-position:-39px -0px;
        
    }

    .folderLeaf {
        background-repeat:repeat-y;
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-position:-39px -2px;
    }

    /* Tree node - */
    .open-tree {
        
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-repeat:no-repeat;
        background-position:-72px -2px;
        margin: 0px 3px 0px 0px !important;
        
    }

    .closed {
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-repeat:no-repeat;
        background-position:-54px -2px;
        margin: 0px 3px 0px 0px !important;
        
    }

    /*Expanded folder*/
    .folder {
        /*background-image: url("/scripts/modules/tree/theme/folder.png");*/
        background-image: url("/scripts/modules/tree/theme/fugue-icons-10.png");
        background-repeat: no-repeat;
        /*background-color: transparent;*/
        background-position: 0 0;
        background-position: 0px -1672px;
        width: 18px !important;
        /*height: 16px;*/
    }

    .checkedSome {
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-position: -20px -19px;
        background-repeat: no-repeat;
        /*background-color: transparent;*/
    }

    .checkedImg {
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-position: -38px -19px;
        background-repeat: no-repeat;
        /*background-color: transparent;*/
    }

    .checkedNone {
        background-image:url("/scripts/modules/tree/theme/d.png");
        background-position: -2px -19px;
        background-repeat: no-repeat;
        /*background-color: transparent;*/
    }
    
   
    .doc {
        background-image: url(/scripts/modules/tree/theme/fugue-icons-8.png);
        background-position: 0 -1235px;
        background-repeat:no-repeat;
        /*background-color:transparent;*/
        width: 18px !important;
        height: 17px;
        
    }

    
/* Fonts for SFG20
-----------------------------------------------------------*/

@font-face {
    font-family: 'source_sans_problack';
    src: url('/Content/fonts/sourcesanspro-black-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-black-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-black-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_problack_italic';
    src: url('/Content/fonts/sourcesanspro-blackit-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-blackit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-blackit-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-blackit-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-blackit-webfont.svg#source_sans_problack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold';
    src: url('/Content/fonts/sourcesanspro-bold-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_probold_italic';
    src: url('/Content/fonts/sourcesanspro-boldit-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-boldit-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-boldit-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-boldit-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proextralight';
    src: url('/Content/fonts/sourcesanspro-extralight-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-extralight-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proXLtIt';
    src: url('/Content/fonts/sourcesanspro-extralightit-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-extralightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-extralightit-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-extralightit-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-extralightit-webfont.svg#source_sans_proXLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proitalic';
    src: url('/Content/fonts/sourcesanspro-it-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-it-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-it-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight';
    src: url('/Content/fonts/sourcesanspro-light-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prolight_italic';
    src: url('/Content/fonts/sourcesanspro-lightit-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-lightit-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-lightit-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-lightit-webfont.svg#source_sans_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proregular';
    src: url('/Content/fonts/sourcesanspro-regular-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('/Content/fonts/sourcesanspro-semibold-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans_proSBdIt';
    src: url('/Content/fonts/sourcesanspro-semiboldit-webfont.eot');
    src: url('/Content/fonts/sourcesanspro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/fonts/sourcesanspro-semiboldit-webfont.woff') format('woff'),
         url('/Content/fonts/sourcesanspro-semiboldit-webfont.ttf') format('truetype'),
         url('/Content/fonts/sourcesanspro-semiboldit-webfont.svg#source_sans_proSBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}